.sahar, .mariya, .link {
    height: 30%;
    width: 30%;
}

h2 {
    color: green
}

h1 {
    color: black;
    text-align: center;
}

.blink {
    animation: blinker 2s step-start infinite;
    }
    
    @keyframes blinker {
    40% {
      opacity: 0;
    }
    }   
